@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Serif|Lobster");
@import url("https://code.getmdl.io/1.3.0/material.indigo-pink.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Acme");
@import url("https://fonts.googleapis.com/css?family=Quicksand");
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #85BDBC;
  text-align: center;
  color: black;
  font-family: "IBM Plex Serif",serif; }

.App-header {
  color: white;
  text-align: center;
  padding: 3%;
  font-size: 2em; }

.App-title {
  font-family: 'Quicksand', sans-serif;
  font-size: 1em;
  color: #704D39; }

.App-intro {
  font-family: 'Montserrat', sans-serif;
  color: white; }

.recipe-container {
  width: 40%;
  min-height: 200px;
  margin-left: 30%;
  margin-bottom: 5%;
  box-shadow: 2px 2px 4px black; }

.recipe-container-title {
  font-family: 'Acme', sans-serif;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }

.recipe-container > .mdl-card__title {
  color: #FFF;
  height: 176px;
  background-image: url("http://res.cloudinary.com/dejyp5iex/image/upload/v1522512653/recipe-header-01_ncnfuz.png"); }

.recipe-title-container {
  background-color: #C8A1C0;
  display: flex;
  color: white;
  padding: 1%;
  justify-content: space-between;
  align-items: center; }

.recipe-action-button-container button {
  margin-left: 2px; }

li {
  border-bottom: 2px solid #eee; }

#btn-add-recipe {
  position: absolute !important;
  right: 10px;
  bottom: 10px; }

a {
  color: white; }
  a:visited, a:active {
    color: white; }
  a:hover {
    font-weight: bold; }

.mdl-dialog {
  width: 30%;
  min-height: 100px;
  background-color: white;
  position: absolute;
  top: 30%;
  left: 35%;
  z-index: 100; }

.recipe-name-buttons {
  color: white;
  font-weight: bold; }

#dialog {
  display: none; }
